* text=auto !eol
/.project -text
/.pydevproject -text
/build.sh -text
/build_bindist.sh -text
/build_installer.sh -text
/build_srcdist.sh -text
/clean.sh -text
data/debris_regions.csv -text
data/debris_types.csv -text
data/houses/chana/conn_group.csv -text
data/houses/chana/conn_type.csv -text
data/houses/chana/connections.csv -text
data/houses/chana/connectionzoneinfluences.csv -text
data/houses/chana/cov_types.csv -text
data/houses/chana/coverages.csv -text
data/houses/chana/damage_costing_data.csv -text
data/houses/chana/damage_factorings.csv -text
data/houses/chana/house_data.csv -text
data/houses/chana/influencefactorpatches.csv -text
data/houses/chana/walls.csv -text
data/houses/chana/water_ingress_costing_data.csv -text
data/houses/chana/working/conn_group.xlsx -text
data/houses/chana/working/conn_type.xlsx -text
data/houses/chana/working/connections.xlsx -text
data/houses/chana/working/connectionzoneinfluences.xlsx -text
data/houses/chana/working/house_data.xlsx -text
data/houses/chana/working/influencefactorpatches.xlsx -text
data/houses/chana/working/zones.xlsx -text
data/houses/chana/zones.csv -text
data/houses/group4/conn_group.csv -text
data/houses/group4/conn_type.csv -text
data/houses/group4/connections.csv -text
data/houses/group4/connectionzoneinfluences.csv -text
data/houses/group4/cov_types.csv -text
data/houses/group4/coverages.csv -text
data/houses/group4/damage_costing_data.csv -text
data/houses/group4/damage_factorings.csv -text
data/houses/group4/house_data.csv -text
data/houses/group4/influencefactorpatches.csv -text
data/houses/group4/walls.csv -text
data/houses/group4/water_ingress_costing_data.csv -text
data/houses/group4/working/Construction[!!-~]quality.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]collarraftercollarfailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]collarrafterridgefailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]collarraftertopplatefarsidefailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]collarraftertopplatenearsidefailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]connection[!!-~]strength[!!-~]parameters[!!-~]from[!!-~]JCU.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]plainrafterridgefailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]plainraftertopplatenearsidefailure.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]roof[!!-~]structure[!!-~]damaged[!!-~]influence[!!-~]factor[!!-~]update[!!-~]patches.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]roof[!!-~]structure[!!-~]undamaged[!!-~]influence[!!-~]factors.xls -text
data/houses/group4/working/Group[!!-~]4[!!-~]house[!!-~]structure[!!-~]zone[!!-~]Cpe[!!-~]means.xls -text
data/houses/group4/working/Sample[!!-~]debris[!!-~]flight[!!-~]distance[!!-~]calculation.xls -text
data/houses/group4/working/conn_typev2.xls -text
data/houses/group4/working/connectionzoneinfluencesv2.xls -text
data/houses/group4/working/group[!!-~]4[!!-~]house[!!-~]plainrafterfartopplatefailure.xls -text
data/houses/group4/working/influencefactorpatches.xls -text
data/houses/group4/working/water_ingress.xls -text
data/houses/group4/working/water_ingress_costing_data.xls -text
data/houses/group4/zones.csv -text
data/mzcat_terrain_2.5.csv -text
data/mzcat_terrain_2.csv -text
data/mzcat_terrain_3.csv -text
data/mzcat_terrain_5.csv -text
design/House[!!-~]Data[!!-~]Model.jpg -text
design/Sim[!!-~]Components.jpg -text
design/TechnicalManual.doc -text
design/UserGuide.doc -text
design/curve1.png -text
design/data_model.jude -text
design/gev.pdf -text
doc/svn-book.pdf -text
/release.txt -text
/setup.nsi -text
src/clean.sh -text
src/core/__init__.py -text
src/core/build_db.sh -text
src/core/build_ext.sh -text
src/core/carlprofile.py -text
src/core/clean.sh -text
src/core/connection.py -text
src/core/connection_type.py -text
src/core/csvarray.py -text
src/core/current_logic.txt -text
src/core/curve.py -text
src/core/curve_log.py -text
src/core/damage.py -text
src/core/damage_costing.py -text
src/core/database.py -text
src/core/dbimport.py -text
src/core/debris.py -text
src/core/engine.c -text
src/core/export.py -text
src/core/ext-setup.py -text
src/core/gendebrissrc.py -text
src/core/gsl-1.11/README_DLL.txt -text
src/core/gsl-1.11/bin/gsl-config -text
src/core/gsl-1.11/bin/gsl-histogram.exe -text
src/core/gsl-1.11/bin/gsl-randist.exe -text
src/core/gsl-1.11/bin/libgsl-0.dll -text
src/core/gsl-1.11/bin/libgslcblas-0.dll -text
src/core/gsl-1.11/include/gsl/gsl_blas.h -text
src/core/gsl-1.11/include/gsl/gsl_blas_types.h -text
src/core/gsl-1.11/include/gsl/gsl_block.h -text
src/core/gsl-1.11/include/gsl/gsl_block_char.h -text
src/core/gsl-1.11/include/gsl/gsl_block_complex_double.h -text
src/core/gsl-1.11/include/gsl/gsl_block_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_block_complex_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_block_double.h -text
src/core/gsl-1.11/include/gsl/gsl_block_float.h -text
src/core/gsl-1.11/include/gsl/gsl_block_int.h -text
src/core/gsl-1.11/include/gsl/gsl_block_long.h -text
src/core/gsl-1.11/include/gsl/gsl_block_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_block_short.h -text
src/core/gsl-1.11/include/gsl/gsl_block_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_block_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_block_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_block_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_bspline.h -text
src/core/gsl-1.11/include/gsl/gsl_cblas.h -text
src/core/gsl-1.11/include/gsl/gsl_cdf.h -text
src/core/gsl-1.11/include/gsl/gsl_chebyshev.h -text
src/core/gsl-1.11/include/gsl/gsl_check_range.h -text
src/core/gsl-1.11/include/gsl/gsl_combination.h -text
src/core/gsl-1.11/include/gsl/gsl_complex.h -text
src/core/gsl-1.11/include/gsl/gsl_complex_math.h -text
src/core/gsl-1.11/include/gsl/gsl_const.h -text
src/core/gsl-1.11/include/gsl/gsl_const_cgs.h -text
src/core/gsl-1.11/include/gsl/gsl_const_cgsm.h -text
src/core/gsl-1.11/include/gsl/gsl_const_mks.h -text
src/core/gsl-1.11/include/gsl/gsl_const_mksa.h -text
src/core/gsl-1.11/include/gsl/gsl_const_num.h -text
src/core/gsl-1.11/include/gsl/gsl_deriv.h -text
src/core/gsl-1.11/include/gsl/gsl_dft_complex.h -text
src/core/gsl-1.11/include/gsl/gsl_dft_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_dht.h -text
src/core/gsl-1.11/include/gsl/gsl_diff.h -text
src/core/gsl-1.11/include/gsl/gsl_eigen.h -text
src/core/gsl-1.11/include/gsl/gsl_errno.h -text
src/core/gsl-1.11/include/gsl/gsl_fft.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_complex.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_halfcomplex.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_halfcomplex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_real.h -text
src/core/gsl-1.11/include/gsl/gsl_fft_real_float.h -text
src/core/gsl-1.11/include/gsl/gsl_fit.h -text
src/core/gsl-1.11/include/gsl/gsl_heapsort.h -text
src/core/gsl-1.11/include/gsl/gsl_histogram.h -text
src/core/gsl-1.11/include/gsl/gsl_histogram2d.h -text
src/core/gsl-1.11/include/gsl/gsl_ieee_utils.h -text
src/core/gsl-1.11/include/gsl/gsl_integration.h -text
src/core/gsl-1.11/include/gsl/gsl_interp.h -text
src/core/gsl-1.11/include/gsl/gsl_linalg.h -text
src/core/gsl-1.11/include/gsl/gsl_machine.h -text
src/core/gsl-1.11/include/gsl/gsl_math.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_char.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_complex_double.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_complex_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_double.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_float.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_int.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_long.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_short.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_matrix_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_message.h -text
src/core/gsl-1.11/include/gsl/gsl_min.h -text
src/core/gsl-1.11/include/gsl/gsl_mode.h -text
src/core/gsl-1.11/include/gsl/gsl_monte.h -text
src/core/gsl-1.11/include/gsl/gsl_monte_miser.h -text
src/core/gsl-1.11/include/gsl/gsl_monte_plain.h -text
src/core/gsl-1.11/include/gsl/gsl_monte_vegas.h -text
src/core/gsl-1.11/include/gsl/gsl_multifit.h -text
src/core/gsl-1.11/include/gsl/gsl_multifit_nlin.h -text
src/core/gsl-1.11/include/gsl/gsl_multimin.h -text
src/core/gsl-1.11/include/gsl/gsl_multiroots.h -text
src/core/gsl-1.11/include/gsl/gsl_nan.h -text
src/core/gsl-1.11/include/gsl/gsl_ntuple.h -text
src/core/gsl-1.11/include/gsl/gsl_odeiv.h -text
src/core/gsl-1.11/include/gsl/gsl_permutation.h -text
src/core/gsl-1.11/include/gsl/gsl_permute.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_char.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_complex_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_complex_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_float.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_int.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_long.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_short.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_char.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_complex_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_complex_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_float.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_int.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_long.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_short.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_permute_vector_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_poly.h -text
src/core/gsl-1.11/include/gsl/gsl_pow_int.h -text
src/core/gsl-1.11/include/gsl/gsl_precision.h -text
src/core/gsl-1.11/include/gsl/gsl_qrng.h -text
src/core/gsl-1.11/include/gsl/gsl_randist.h -text
src/core/gsl-1.11/include/gsl/gsl_rng.h -text
src/core/gsl-1.11/include/gsl/gsl_roots.h -text
src/core/gsl-1.11/include/gsl/gsl_sf.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_airy.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_bessel.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_clausen.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_coulomb.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_coupling.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_dawson.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_debye.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_dilog.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_elementary.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_ellint.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_elljac.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_erf.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_exp.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_expint.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_fermi_dirac.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_gamma.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_gegenbauer.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_hyperg.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_laguerre.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_lambert.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_legendre.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_log.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_mathieu.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_pow_int.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_psi.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_result.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_synchrotron.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_transport.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_trig.h -text
src/core/gsl-1.11/include/gsl/gsl_sf_zeta.h -text
src/core/gsl-1.11/include/gsl/gsl_siman.h -text
src/core/gsl-1.11/include/gsl/gsl_sort.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_char.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_double.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_float.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_int.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_long.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_short.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_char.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_double.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_float.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_int.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_long.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_short.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_sort_vector_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_specfunc.h -text
src/core/gsl-1.11/include/gsl/gsl_spline.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_char.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_double.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_float.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_int.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_long.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_short.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_statistics_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_sum.h -text
src/core/gsl-1.11/include/gsl/gsl_sys.h -text
src/core/gsl-1.11/include/gsl/gsl_test.h -text
src/core/gsl-1.11/include/gsl/gsl_types.h -text
src/core/gsl-1.11/include/gsl/gsl_vector.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_char.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_complex.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_complex_double.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_complex_float.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_complex_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_double.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_float.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_int.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_long.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_long_double.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_short.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_uchar.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_uint.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_ulong.h -text
src/core/gsl-1.11/include/gsl/gsl_vector_ushort.h -text
src/core/gsl-1.11/include/gsl/gsl_version.h -text
src/core/gsl-1.11/include/gsl/gsl_wavelet.h -text
src/core/gsl-1.11/include/gsl/gsl_wavelet2d.h -text
src/core/gsl-1.11/lib-shared/gsl.lib -text
src/core/gsl-1.11/lib-shared/gslcblas.lib -text
src/core/gsl-1.11/lib-shared/libgsl-0.def -text
src/core/gsl-1.11/lib-shared/libgslcblas-0.def -text
src/core/gsl-1.11/lib-shared/pkgconfig/gsl.pc -text
src/core/gsl-1.11/lib-static/pkgconfig/gsl.pc -text
src/core/house.py -text
src/core/influence.py -text
src/core/logger.py -text
src/core/main.py -text
src/core/output.py -text
src/core/rect.py -text
src/core/regress_linear.py -text
src/core/regress_nonlinear.py -text
src/core/regress_poly.py -text
src/core/runme.sh -text
src/core/scenario.py -text
src/core/setup.py -text
src/core/singletonmixin.py -text
src/core/stats.py -text
src/core/terrain.py -text
src/core/version.py -text
src/core/wateringress.py -text
src/core/zone.py -text
src/customboot.py -text
src/gui/__init__.py -text
src/gui/build.sh -text
src/gui/clean.sh -text
src/gui/connection.py -text
src/gui/connection_type.py -text
src/gui/help/editmenu.html -text
src/gui/help/filemenu.html -text
src/gui/help/index.html -text
src/gui/helpform.py -text
src/gui/house.py -text
src/gui/images/back.png -text
src/gui/images/bicycle.png -text
src/gui/images/editinvert.png -text
src/gui/images/editmirror.png -text
src/gui/images/editmirrorhoriz.png -text
src/gui/images/editmirrorvert.png -text
src/gui/images/editresize.png -text
src/gui/images/editswap.png -text
src/gui/images/editunmirror.png -text
src/gui/images/editzoom.png -text
src/gui/images/fan.png -text
src/gui/images/faucet.png -text
src/gui/images/filenew.png -text
src/gui/images/fileopen.png -text
src/gui/images/fileprint.png -text
src/gui/images/filequit.png -text
src/gui/images/filesave.png -text
src/gui/images/filesaveas.png -text
src/gui/images/forward.png -text
src/gui/images/hand.png -text
src/gui/images/home.png -text
src/gui/images/home2.ico -text
src/gui/images/home2.png -text
src/gui/images/icon.png -text
src/gui/images/matplotlib.png -text
src/gui/images/move.png -text
src/gui/images/printer.png -text
src/gui/images/recycler_bin.png -text
src/gui/images/splash/Thumbs.db -text
src/gui/images/splash/abtract_house.jpg -text
src/gui/images/splash/cyclone.jpg -text
src/gui/images/splash/ga_logo_inline.jpg -text
src/gui/images/splash/ga_logo_slogan.jpg -text
src/gui/images/splash/ga_logo_small.gif -text
src/gui/images/splash/ga_logo_stacked.jpg -text
src/gui/images/splash/jcu_med.gif -text
src/gui/images/splash/jdh_consulting.gif -text
src/gui/images/splash/splash.png -text
src/gui/images/splash/splash_base_layer.png -text
src/gui/images/subplots.png -text
src/gui/images/switch.png -text
src/gui/images/tree.png -text
src/gui/images/wheel.png -text
src/gui/images/zoom_to_rect.png -text
src/gui/install_surface.sh -text
src/gui/main.pyw -text
src/gui/matplotsurfaceplugin.py -text
src/gui/matplotsurfacewidget.py -text
src/gui/mixins.py -text
src/gui/output.py -text
src/gui/ui/connection.ui -text
src/gui/ui/connection_type.ui -text
src/gui/ui/house.ui -text
src/gui/ui/main.ui -text
src/gui/ui/zone.ui -text
src/gui/windsim.qrc -text
src/gui/zone.py -text
src/log.sh -text
src/main.pyw -text
src/matplotlibplugin.py -text
src/matplotlibwidget.py -text
src/scenarios/bench.csv -text
src/scenarios/carl1.csv -text
src/scenarios/carl2.csv -text
src/scenarios/workshop.csv -text
src/setup.py -text
src/test/__init__.py -text
src/test/dist_1.csv -text
src/test/dist_10.csv -text
src/test/dist_10_exp.csv -text
src/test/dist_11.csv -text
src/test/dist_11_exp.csv -text
src/test/dist_12.csv -text
src/test/dist_12_exp.csv -text
src/test/dist_1_exp.csv -text
src/test/dist_2.csv -text
src/test/dist_2_exp.csv -text
src/test/dist_3.csv -text
src/test/dist_3_exp.csv -text
src/test/dist_4.csv -text
src/test/dist_4_exp.csv -text
src/test/dist_5.csv -text
src/test/dist_5_exp.csv -text
src/test/dist_6.csv -text
src/test/dist_6_exp.csv -text
src/test/dist_7.csv -text
src/test/dist_7_exp.csv -text
src/test/dist_8.csv -text
src/test/dist_8_exp.csv -text
src/test/dist_9.csv -text
src/test/dist_9_exp.csv -text
src/test/distribution.py -text
src/test/numhouses.py -text
/test.sh -text
thirdparty/jude-community-5_5_1-setup.exe -text
thirdparty/pysqlite-2.6.0.win32-py2.6.exe -text
thirdparty/sqlitedll-3_6_23_1.zip -text
thirdparty/vcredist/msvcm90.dll -text
thirdparty/vcredist/msvcp90.dll -text
thirdparty/vcredist/msvcr90.dll -text
thirdparty/vcredist/x86_Microsoft.VC90.CRT_1fc8b3b9a1e18e3b_9.0.21022.8_x-ww_d08d0375.manifest -text
/version.sh -text
